body {
	background-color: black;
}

div#board{
	position: relative;
	width: 500px;
	height: 500px;
	margin: auto;
	background: url("board.jpg") no-repeat;

}

div#messageArea{
	position: absolute;
	top: 0px;
	left: 0px;
	color: rgb(83, 175, 19)
}

table{
	position: absolute;
	left: 173px;
	top: 98px;
	border-spacing: 0px;
}

td{
	width: 45px;
	height: 45px;
}

form{
	position: absolute;
	left: 550px;
	bottom: 10px;
	padding: 20px;
	background-color: rgb(83, 175, 19);
}

form input{
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1em;
}

.hit{
	background: url("ship.png") no-repeat center center;
	background-size: 45px 50px;

}

.miss{
	background: url("miss.png") no-repeat center center;
}